
disease/
__pycache__/
*.pyc
.ipynb_checkpoints/
uploads/

# Environment
.env

# Notebook
.ipynb_checkpoints/
notebook/

# VS Code
.vscode/


# Uploads
uploads/

# Reports
reports/

# OS
.DS_Store
Thumbs.db