Flask
gunicorn
python-dotenv
google-generativeai
groq
opencv-python
pillow
numpy
pandas
scikit-learn

easyocrFlask
gunicorn
python-dotenv
google-generativeai
groq
opencv-python-headless
pillow
numpy
pandas
scikit-learn
easyocr
